
<main>
    <div class="section-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">

                    <div class="com-plaatsproject">
                        <%= simple_form_for @projectlocation do |f| %>

                        <%= f.input :project_id, :as => :hidden, :input_html =>{:value => @project_id} %>
                        <p> Stad </p>
                        <%= f.association :city, label: false  %>
                        <p> Nummer </p>
                        <%= f.input :address, label: false %>

                        <p> Postcode</p>
                        <%= f.input :zipcode, label: false %>

                        <%= f.submit %>


                        <% end %>


                        <script type='text/javascript'>
                            var project_id = <%= @project.id %>;
                            $("#projectlocation_project_id").val(project_id);
                            console.log($("#projectlocation_project_id").val());
                        </script>

                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</main>
