<div class="page-wrapper">  
    <div class="container">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="con-signup">
                    <h2>Sign up</h2><br />
                    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= f.error_notification %>

                    <div class="form-inputs">
                        <%= f.input :email, required: true, autofocus: true %>
                        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                        <%= f.input :password_confirmation, required: true %>
                    </div>

                    <div class="form-actions">
                        <%= f.button :submit, "Sign up" %>
                    </div>
                    <% end %>

                    <%= render "devise/shared/links" %>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
</div>