<main>
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
          <div class="col-md-8 text-center">
            <div class="com-newproject">
              <div id="new_project_div" class="btn">
                <%= link_to "new project", new_project_path %>
              </div>
                <div class="line-seperator">
                </div>

              <div id="own_projects">
                  <div class="projects-field">
                      <h2>Mijn projecten</h2>
                      <% @own_projects.each do |project| %>
                      <!-- Als je hier iets wilt toevoegen zoals naam ofzo
                       <div id="new_project_div" class="btn">
                      <%= link_to "new project", new_project_path %>
                    </div>
                      gebruik <%=project.name%> -->
                          <div id="new_project_div" class="btn">
                            <%= link_to project.name, project %>
                          </div>
                        <% end %>
                  </div>
              </div>

                <div class="line-seperator">
                </div>

              <div id="employee_projects">
                  <div class="projects-field">
                      <h2>Projecten in mijn werkomgeving</h2>
                        <% @employee_projects.each do |project| %>
                        <!-- Als je hier iets wilt toevoegen zoals naam ofzo
                        gebruik <%=project.name%> -->
                      <div> <%=link_to project.name, project %> </div>
                        <% end %>
                  </div>
              </div>

                <div class="line-seperator">
                </div>

              <div id="neighbouring_projects">
                  <div class="projects-field">
                      <h2>Projecten in mijn buurt</h2>
                      <% @neighbouring_projects.each do |project| %>
                          <!-- Als je hier iets wilt toevoegen zoals naam ofzo
                              gebruik <%=project.name%> -->
                      <div> <%=link_to project.name, project %> </div>
                      <% end %>
                  </div>
            </div>
          </div>
          </div>
        </div>
      </div>
</main>
