<main>
    <div class="page-wrapper">
        <div class="section-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-xs-1"></div>
                        <div class="col-md-8">
                   <div class="com-newproject">
                        <%= simple_form_for @project do |f| %>

                       <p> Project type </p>
                       <%= f.association :projecttype, label: false %>

                        <br>
                        <p> Project naam </p>

                         <%= f.input :name, label: false %>

                         <%= f.submit %>

                         <% end %>
                     </div>
                        </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
</main>
