<div class="section-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
				<div class="col-md-8">
					<h1><%= @project.name %></h1>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-1">
				</div>
		</div>

<hr>

<header>

	<% if @project.state == 1 %>
	    <div class="stepbar-wrapper">
	        <div class="stepbar">
	            <ul class="stepbar-layout">
	                <li><a href="#"><div class="step active">1</div></a></li>
	                <li><div class="bar last"></div><div></div></li>
	                <li><a href="#"><div class="step current">2</div></a></li>
	                <li><div class="bar"></div><div></div></li>
	                <li><a href="/projects/21"><div class="step">3</div></a></li>
	                <li><div class="bar"></div><div></div></li>
	                <li><a href="#"><div class="step">4</div></a></li>
	                <li><div class="bar"><div></div></div></li>
	                <li><a href="#"><div class="step">5</div></a></li>
	            </ul>
	        </div>
	    </div>
    <%end%>

    <%if @project.state == 2 %>
	    <div class="stepbar-wrapper">
	        <div class="stepbar">
	            <ul class="stepbar-layout">
	                <li><a href="#"><div class="step active">1</div></a></li>
	                <li><div class="bar active"></div><div></div></li>
	                <li><a href="#"><div class="step active">2</div></a></li>
	                <li><div class="bar last"></div><div></div></li>
	                <li><a href="#"><div class="step current">3</div></a></li>
	                <li><div class="bar"></div><div></div></li>
	                <li><a href="#"><div class="step">4</div></a></li>
	                <li><div class="bar"><div></div></div></li>
	                <li><a href="#"><div class="step">5</div></a></li>
	            </ul>
	        </div>
	    </div>
   <%end%>
   <%if @project.state == 3 %>
	    <div class="stepbar-wrapper">
	        <div class="stepbar">
	            <ul class="stepbar-layout">
	                <li><a href="#"><div class="step current">1</div></a></li>
	                <li><div class="bar"></div><div></div></li>
	                <li><a href="/projects/18"><div class="step ">2</div></a></li>
	                <li><div class="bar"></div><div></div></li>
	                <li><a href="#"><div class="step ">3</div></a></li>
	                <li><div class="bar"></div><div></div></li>
	                <li><a href="#"><div class="step">4</div></a></li>
	                <li><div class="bar"><div></div></div></li>
	                <li><a href="#"><div class="step">5</div></a></li>
	            </ul>
	        </div>
	    </div>
   <%end%>
   <%if @project.state == 4 %>
	    <div class="stepbar-wrapper">
	        <div class="stepbar">
	            <ul class="stepbar-layout">
	                <li><a href="#"><div class="step active">1</div></a></li>
	                <li><div class="bar active"></div><div></div></li>
	                <li><a href="#"><div class="step active">2</div></a></li>
	                <li><div class="bar last"></div><div></div></li>
	                <li><a href="#"><div class="step current">3</div></a></li>
	                <li><div class="bar"></div><div></div></li>
	                <li><a href="/projects/11"><div class="step">4</div></a></li>
	                <li><div class="bar"><div></div></div></li>
	                <li><a href="#"><div class="step">5</div></a></li>
	            </ul>
	        </div>
	    </div>
   <%end%>
   <%if @project.state == 5 %>
	    <div class="stepbar-wrapper">
	        <div class="stepbar">
	            <ul class="stepbar-layout">
	                <li><a href="#"><div class="step active">1</div></a></li>
	                <li><div class="bar active"></div><div></div></li>
	                <li><a href="#"><div class="step active">2</div></a></li>
	                <li><div class="bar"></div><div></div></li>
	                <li><a href="#"><div class="step active">3</div></a></li>
	                <li><div class="bar"></div><div></div></li>
	                <li><a href="#"><div class="step active">4</div></a></li>
	                <li><div class="bar"><div></div></div></li>
	                <li><a href="#"><div class="step active">5</div></a></li>
	            </ul>
	        </div>
	    </div>
   <%end%>
</header>


	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="com-newproject">

<% if @project.state == 1 %>
	<div id='requirements_required'>
		<center>
			<table>
				<% @project.projectrequirements.all.each do |requirement| %>
					<tr>
						<% if requirement.state == 1 %>
							<td><h3><i class="fa fa-clock-o"></i></span></h3></td>
						<% end %>
						<td><h3> <%= requirement.name %> </h3></td>
					</tr>
				<% end %>
			</table>
		</center>
	</div>

	<style>

		h3 {
			text-align: left;
			font-size: 27px;
		}
	</style>
<% end %>

<% if @project.state == 2 %>

	<div id="people_required">
		<center>
			<h2> We still need these people! </h2>

			<% @project.projecttags.all.each do |tag| %>

				<% if tag.state == 1 %>
					<h3> <%= tag.tag.name %> </h3>
				<% end %>
			<% end %>

			<p> let's add some people </p>
			<%= simple_form_for @projectuser do |f| %>

				<%= f.input :project_id, :as => :hidden %>
				<%= f.input :projectusertype_id, :as => :hidden %>
				<%= f.input :user_id, :as => :hidden %>

				<input type='text' id='email_input' />
				<a id="check_email">CHECK</a>

				<%= f.submit %>

			<% end %>

		</center>
	</div>

<% end %>

<% if @project.state == 3 %>
	<div id='licenses_required'>
		<center>
			<h2> Licenses required </h2>

			<% @project.projectlicenses.all.each do |license| %>
				<% if license.state == 1 %>
					<h3> <%= license.license.name %> </h3>
				<% end %>
			<% end %>
		</center>
	</div>

<% end %>


<% if @project.state == 4 %>
	
<% end %>


<% if @project.state == 5 %>
	Komen wij toch niet
<% end %>
</div>
</div>
<div class="col-md-2"></div>
</div>

<script type='text/javascript'>


	// make sure that we can load users

	$("#check_email").click(function() {
		var email_input = $("#email_input").val();
		$.ajax({
		  url: "http://localhost:3000/projectusers/",
		  type: "get", //send it through get method
		  data: {
		  	email: email_input
		  },
		  success: function(response) {
		    //Do Something
		    if( response.exists ) {
		    	$("#email_input").css("background", "green");
		    	$("#projectuser_user_id").val(response.user_id);
		    }
		  },
		  error: function(xhr) {
		    console.log( xhr );
		  }
		});
	});


</script>
</div>
</div>
</div>
