  <div class="section-wrapper">
      <div class="container">
          <div class="row">
              <div class="col-md-2 col-xs-1">
              </div>
              <div class="col-md-8 col-xs-10" style="text-align: center;">
                  <div class="main-logo"><%= image_tag("rss.png", :alt => "rss feed") %></div>
                  <div class="con-login">
                      <h1>Log in</h1><br />
                      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                      <div class="form-inputs">
                          <%= f.input :email, required: false, autofocus: true %>
                          <%= f.input :password, required: false %>
                          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                      </div>
                      <div class="form-actions">
                          <%= f.button :submit, "Log in" %>
                      </div>
                      <% end %>
                      <div class="ext-login">
                          <%= render "devise/shared/links" %>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-1">
              </div>
          </div>
      </div>
  </div>
