/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$theme-blue: #18121E;           //NavyBlue
$theme-blue-hover: #594a6a;     //NavyBlue-Hover
$theme-metal: #233237;          //GunMetal
$theme-dmetal: #172226;         //GunMetal-Dark
$theme-metal-hover: #45656f;    //GunMetal-Hover
$theme-dmetal-hover: #192427;   //GunMetal-Dark-Hover
$theme-red: #984B43;            //RustyRed
$theme-yellow: #EAC67A;         //WarmYellow

$theme-dtxt: #000;               //Black
$theme-ltxt: #fff;               //White

$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

/*=====Basic page layout=====*/
html,body,main,footer {
    margin: 0px;
    padding: 0px;
    color: #505050;
}

body {
    background-image: url(http://localhost:3000/images/background.jpg);
    background-size: cover;
}

.page-wrapper,.section-wrapper {
    width: 100%;
    height: 100%;
}
div,input,select,textarea,option,.button {
    box-sizing: border-box;
}
.text-center {
    text-align: center;
}
.container:after{
    clear: both;
    content: "";
    display: block;
}


/*===== ADDED BY MAX =======*/

.wrapper {
  //width: 80%;
  margin: 0 auto;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

#main_page_header {
  width: 100%;
  padding: 2rem 0;
  background-color: $theme-blue;
  margin-bottom: 20px;
  padding-bottom: 20px;
  #logo {
    float: left;
    font-size: 1.75rem;
    a {
      color: #FFF;
      text-decoration: none;
      &:hover {
        color: #50A7C7;
      }
    }
  }
  nav {
    float: right;
    a {
      margin-left: 1.5rem;
      line-height: 2px;
      color: #FFF;
      text-decoration: none;
      &:hover {
        color: #50A7C7;
      }
    }
  }
}



/*=====Basic page elements=====*/
a{
    color: $theme-blue;
    text-decoration: none;
}
a:hover,a:active {
    color: $theme-blue-hover;
    text-decoration: none;
}
.btn {
    color: $theme-ltxt;
    background-color: $theme-metal;
    border: 1px solid $theme-dmetal;
    width: 150px;
    width: 300px;
    height: 60px;
}
.btn:hover {
    color: $theme-ltxt;
    background-color: $theme-metal-hover;
    border: 1px solid $theme-dmetal-hover;
}
.btn a {
    color: $theme-ltxt;
    line-height: 50px;
    font-size: 30px;
}
.btn a:hover {
    color: $theme-ltxt;
}
input,select,textarea {
    color: $theme-dtxt;
    border-color: $theme-blue;
}
h1,h2,h3,h4,h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
.line-seperator {
    border-bottom: 3px solid #94949499;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#main_page_header {
    #logo,nav a {
        margin-left: 40px;
        font-size: 25px;
        margin-top: -10px;
    }
}
/*=====Home page=====*/
.main-logo img {
    height: 275px;
}
.projects-field {
    text-align: left;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.projects-field h2 {
    margin-bottom: 20px;
}
.projects a {
    color: #8E8E8E;
}
.projects a:hover {
    color: #777777;
}
/*=====Step forms=====*/
.con-login,.con-signup,.com-newproject,.com-plaatsproject {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(232, 232, 232, 0.6);
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-top: 200px;
}
.con-login {
    width: 350px;
    margin-top: 0px!important;
}
.con-signup {
    width: 350px;
}
.com-newproject {
    width: 350px;
}
.com-plaatsproject {
    width: 350px;
}
/*Layout*/
.input.email,.input.password,.input.boolean {
    height: 25px;
    margin-bottom: 20px;
}
form.simple_form input.email,form.simple_form input.password,form#projectuser { 
    float: left;
    width: 215px;
    border: none;
    border-bottom: 3px solid #94949499;
    border-radius: 3px;
}
form.simple_form input.boolean {
}
form.simple_form label {
    float: left;
    width: 115px;
    line-height: 25px;
    margin: 0px;
}
label.boolean {
    margin-left: 20px!important;
}
.input.boolean label {
    margin-top: 0px!important
}
.form-actions {
    text-align: center;
}
.ext-login {
    text-align: center;
}
.ext-login a {
    margin-bottom: 10px;
}





/*MAKE A NEW PROJECT*/
form#new_project,form#new_projectlocation {
    text-align: center;

    input[name="commit"] {
        color: $theme-ltxt;
        background-color: $theme-metal;
        border: 1px solid $theme-dmetal;
        border-radius: 5px;
        width: 150px;
        line-height: 35px;
    }
    input[name="commit"]:hover {
        color: $theme-ltxt;
        background-color: $theme-metal-hover;
        border: 1px solid $theme-dmetal-hover;
    }
    p {
        width: 115px;
        float: left;
        margin: 0px;
        text-align: left;
        line-height: 25px;
    }
    div select {
        height: 30px;
    }
    div select,div input {
        width: 215px;
        float: left;
        margin-bottom: 20px;
        line-height: 25px;
        border: none;
        border-bottom: 3px solid #94949499;
        border-radius: 3px;
    }
}
/*Stepbar layout*/
.stepbar,.stepbar ul {
    width: 600px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-left: 0px;
}
.stepbar-layout {
    list-style-type: none;
    li {
        float: left;
    }
    
    .step {
        background-color: #a2a2a2;
        color: $theme-ltxt;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        line-height: 12.5px;
        font-size: 22px;
        padding-bottom: 12.5px;
        padding-top: 12.5px;
        text-align: center;
    }
    .step.active {
        background-color: #00ff28;    
    }
    .step.current {
        width: 50px;
        height: 50px;
        margin: -5px;
        line-height: 25px;
        font-size: 25px;
    }
    .bar {
        background-color: #a2a2a2; 
        width: 100px;
        height: 5px;
        margin-top: 17.5px;
        margin-bottom: 17.5px;
    }
    .bar.active {
        background-color: #00ff28;
    }
    .bar.last {
        background: linear-gradient(-90deg, #a2a2a2, #00ff28);
    }
}