<!DOCTYPE html>
<html>
    <head>
        <title>HackathonStrijp</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', :media => "all", 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>

        <div class="page-wrapper">
            <div class="wrapper clearfix">
                <div id="main_page_header">
                    <div id="logo">
                        <%=link_to "Plannrr", root_path%>
                    </div>
                    <nav>
                        <% if user_signed_in? %>
                            <%= link_to current_user.email, edit_user_registration_path %>
                            <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
                        <%else%>
                            <%= link_to 'Sign In', new_user_registration_path %>
                        <%end%>
                    </nav>
                </div>
            </div>

            </div>
                <%= yield %>
            <footer>
            </footer>
        </div>
    </body>
</html>
